<h2
  class='game--status {{this.model.nowPlaying}}'
  data-test-game--status='{{this.model.nowPlaying}}'
>{{this.model.status}} </h2>

{{! template-lint-disable no-invalid-interactive }}
<div
  class='game--grid
    {{this.model.nowPlaying}}
    {{if this.model.gameActive "active" "inactive"}}'
  data-test-game--grid
  data-test-game--grid-status='{{this.model.nowPlaying}}'
  data-test-game--grid-active='{{if this.model.gameActive "active" "inactive"}}'
>

  {{#each this.model.grid as |cell index|}}
    <div
      data-test-cell-id='{{index}}'
      data-test-cell-status='{{cell}}'
      class='cell {{cell}}'
      {{on 'click' (fn this.cellClick index)}}
    ></div>
  {{/each}}
</div>
<Button class='restart' data-test-button-restart {{on 'click' this.restart}} />